:root {
  --columnWidth: calc(100% / 12);
}

.container {
  margin: 0 auto;
}

.layout-row {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -8px; */
  /* margin-right: -8px; */
}

[class^ = "col-"] {
  padding-left: 8px;
  padding-right: 8px;
}

.col-1 {
  flex-basis: var(--columnWidth);
}

.col-2 {
  flex-basis: calc( var(--columnWidth) * 2 );
}

.col-3 {
  flex-basis: calc( var(--columnWidth) * 3 )
}

.col-4 {
  flex-basis: calc( var(--columnWidth) * 4 );  
}

.col-5 {
  flex-basis: calc( var(--columnWidth) * 5 );    
}

.col-6 {
  flex-basis: calc( var(--columnWidth) * 6 );    
}

.col-7 {
  flex-basis: calc( var(--columnWidth) * 7 );    
}

.col-8 {
  flex-basis: calc( var(--columnWidth) * 8 );    
}

.col-9 {
  flex-basis: calc( var(--columnWidth) * 9 );    
}

.col-10 {
  flex-basis: calc( var(--columnWidth) * 10 );    
}

.col-11 {
  flex-basis: calc( var(--columnWidth) * 11 );    
}


.xs-col-12 {
  flex-basis: calc( var(--columnWidth) * 12 );    
}

@media (min-width: 576px) {
  .s-col-6 {
    flex-basis: calc( var(--columnWidth) * 6 );    
  }
}