// $xs-width: 320px;
$s-width: 576px;
$m-width: 768px;
$l-width: 991px;
// $xl-width: 1200px;

// $color-1: #EEEEEE;
$color-1: #FFFFFF;
$color-2: #262626;

$font-size-s: 18px;
$line-height-s: 24px;
$font-size-m: 22px;
$line-height-m: 28px;
$font-size-l: 26px;
$line-height-l: 32px;
$font-size-xl: 30px;
$line-height-xl: 36px;