.page-footer {
    position: relative;
    padding-top: 1rem;
    text-align: center;
    margin-top: -1rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #cccccc;
    }
}

.page-footer__copyright {
    font-size: .8rem;
}

@media (min-width: $s-width) {
    .page-footer {
        margin-top: 0;
    }
}